<div class="card" *ngIf="todo">
    <div class="card-header">
        <span>{{ todo.id ? 'Edit Todo' : 'Create Todo' }}</span>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="form-group">
                <label>Title</label>
                <input
                    class="form-control"
                    type="text"
                    [ngModel]="todo.title"
                    name="title"
                    placeholder="Name (required)"
                />
            </div>
            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" [ngModel]="todo.isDone" name="isDone">
                    <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                </div>
            </div>
            <button
                class="btn btn-primary"
                (click)="submit(form)"
                [disabled]="!form.valid || !form.dirty"
            >
                Save
            </button>
        </form>
    </div>
</div>
